h1 {
    color: teal;
    font-weight: 700;
}

main {
    background-color: mediumaquamarine;
    padding: 20px;
}

.box {
    margin: 10px;
}

#dogimage {
    margin: 10px;
}

footer {
    background-color: gray;
    border-top: teal solid 9px;
    padding: 15px;
    text-align: center;
}