h1 {
    color: teal;
    font-weight: 700;
}

main {
    padding: 20px;
}

.box {
    margin: 10px;
}

.dogimage {
    margin: inherit;
}

footer {
    background-color: gray;
    border-top: teal solid 9px;
    padding: 15px;
    text-align: center;
}